.jp-OutputWidgetCJSON, .jp-DocWidgetCJSON {
  width: 100%;
  padding: 0;
}

.jp-OutputWidgetCJSON {
  margin-top: 5px;
}

.jp-DocWidgetCJSON {
  overflow: auto;
}

.jp-DocWidgetCJSON .jp-mod-error {
  width: 100%;
  min-height: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.jp-DocWidgetCJSON .jp-mod-error h2 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}

.jp-DocWidgetCJSON .jp-mod-error pre {
  text-align: left;
  padding: 10px;
  overflow: hidden;
}
